.newsItems{
  max-width:1200px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px;
  margin: 40px auto 0;
 

}
.btn2{
   margin-left: 100px;
   display: flex;
  justify-content: space-between;

}
.Next{
  margin-right:180px;
  background-color: black;
  color: beige;
  width: 80px;
  border-radius: 10px;
  margin-top:40px;
}
.Prev{
   margin-top:40px;
  margin-left: 80px;
    background-color: black;
     color: beige;
     width: 80px;
    border-radius: 10px;
}

